<!-- app/templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connectify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Connectify</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    <section>
        
            <h2>Welcome to Connectify App!</h2>
            
            <p class="quote">In a world full of connections, let's make ours meaningful.</p>
            
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" >

            <p>Please register or login to start sharing and connecting with others.</p>
    </section>
    <footer>
        <p>&copy; 2024 Connectify App</p>
    </footer>
</body>
</html>
